.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
  }
}

.advantages__list {
  padding-left: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;
  padding: 22px 32px;
  box-sizing: border-box;
  width: 320px;
  .last-element-margin-bottom();

  @media (min-width: @tablet-width) {
    width: 256px;
    padding: 42px 40px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }


  &--with-photo {
    padding: 0;
    background: #81b3d2;
    color: #ffffff;
    width: 100%;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  &--spot {
    padding: 22px 18px 32px 65px;
    text-align: left;

    @media (min-width: @tablet-width) {
      padding: 158px 32px 59px;
      text-align: center;
    }

    @media (min-width: @desktop-width) {
      padding: 158px 58px 59px;
    }
  }

  &--excellence {
    background: #eeeeee;
  }

  &--icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 15px;

    @media (min-width: @tablet-width) {
      width: auto;
      height: auto;
      top: 60px;
      left: 90px;
    }

    @media (min-width: @desktop-width) {
      top: 59px;
      left: 161px;
    }
  }

  &--line::after {
    @media (max-width: 767px) {
      content: "";
      position: absolute;
      height: 1px;
      background: #d6d6d6;
      left: 20px;
      right: 20px;
      bottom: 0;
    }
  }
}

.advantages__description-container {
  display: flex;
  flex-direction: column;
  padding: 35px 15px;
  box-sizing: border-box;
  position: relative;

  &--decore {
    @media (max-width: 767px) {
      padding-top: 54px;
    }

    &::after {
      @media (max-width: 767px) {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 37px;
        background-image: url("../img/main/whitecopy2.svg");
        background-position: 50%;
      }
    }

    @media (min-width: @tablet-width) {
      width: 256px;
      padding: 42px 26px;
    }

    @media (min-width: @desktop-width) {
      width: 400px;
      padding: 49px 52px 54px;
    }
  }
}


.advantages__title {
  .title();
  color: inherit;
  margin-bottom: 11px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
    padding: 0 84px;
  }
}

.advantages__number {
  display: block;
  margin-bottom: 17px;

  @media (min-width: @desktop-width) {
    margin-bottom: 22px;
  }
}

.advantages__description {
  margin-top: 0;
  margin-bottom: 11px;
}

.advantages__image {
  display: block;
  object-fit: cover;
  width: 320px;
  height: 260px;

  @media (min-width: @tablet-width) {
    &--order {
      order: -1;
    }
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

@media (max-width: @mobile-width-only) {
  .advantages__item--decor {
    padding-top: 33px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 37px;
      background-image: url("../img/main/decor-blue-triangle.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}


