.benefits {
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.benefits__title {
  .title();
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 520px;
  }

  @media (min-width: @desktop-width) {
    width: 484px;
  }
}

.benefits__subtitle {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}
