.main-nav {
  min-height: 56px;
  position: relative;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.main-nav--close .main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 63px;
  height: 56px;
  padding: 0;
  border: none;
  background-color: #ffffff;
  z-index: 2;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav--close .main-nav__list {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.main-nav__list {
  margin: 0 auto;
}
